h1 {
    font-family: "Bebas Neue";
    color: rgb(62, 186, 186);
    background-color: #fdfdfd;
    font-size: 3cm;
}

body {
    background-color: #4a4141;
    text-align: center;
    margin-bottom: auto;
}

#bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3ch;
}

@media screen and (min-width: 60em) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
        font-family: "Bebas Neue";
        color: rgb(62, 186, 186);
        font-size: 2cm;
    }
}

#lit div {
    max-width: 100%;
    columns: 40rem;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
}

#lit div:first-of-type::first-letter {
    display: block;
    float: left;
    font-size: 300%;
    color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    border: 3px;color: aquamarine;
}

#photoGallery {
    color: aquamarine;
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-top: 10em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: bisque;
    background-color:darkmagenta;
    padding-top: 1em;
    padding-bottom: 1em;   

}

h2 {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 3em;
    background-color: darkmagenta;
    color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#Biography{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

#contact {
    font-family: "Bebas Neue";
    color: rgb(62, 186, 186);
    font-size: x-large;

}

#hero {
    font-family: "Bebas Neue";
    color: rgb(62, 186, 186);
    font-size: x-large;

}

#formElements{
display: grid;

}
#photogallery{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 0.5em;
}
 