h1 {
    font-family:"Bebas Neue";
    color: rgb(62, 186, 186);
    background-color: #fdfdfd;
    font-size: 3cm;
}

body {
    background-color: #4a4141;
    text-align: center;
    margin-bottom:auto;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 60em) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
}

#lit div{
    max-width:100%;
    columns: 40rem;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}
@media screen and (min-width: 100em){
    #gallery{
        display: grid;
grid-template-columns: 1fr 1fr 1fr
    }
}

#lit div:first-child(1)::first-letter{
    display: block;
    float: left;
    font-size: 300%;
    color: aquamarine;
    margin-left:auto;
    margin-right:auto;

}

#photoGallery{
    color: aquamarine; 
}

footer{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family:"Bebas Neue";
    text-align: center;
    font-size: 3em;
    background-color: darkmagenta;
    color: bisque;
    display: flex; 
    flex-direction: column; 
    align-items: center;

}

#Myhobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}